/* Variables */
/* Styles */
* {
  box-sizing: border-box;
}

body, .block > div, .details a.follow strong {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: Sans-Serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 16px;
  color: gray;
}

.block {
  max-width: auto;
  width: 100%;
  height: 100%;
  float: left;
  padding: 15px;
  z-index: 10;
  background-color: white;
  overflow: hidden;
}
@media screen and (max-width: 599px) {
  .block {
    max-width: 100%;
  }
}
.block > div {
  display: block;
  position: relative;
  padding: 0 0 0 35px;
  border-bottom: 1px solid white;
  background-color: #e6e6e6;
  color: black;
}
.block > div:nth-child(1):before {
  content: "1";
  width: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #466970;
  padding: 7.5px;
  margin: 0;
  color: white;
}
.block > div:nth-child(2):before {
  content: "2";
  width: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #466970;
  padding: 7.5px;
  margin: 0;
  color: white;
}
.block > div:nth-child(3):before {
  content: "3";
  width: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #466970;
  padding: 7.5px;
  margin: 0;
  color: white;
}
.block > div:nth-child(4):before {
  content: "4";
  width: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #466970;
  padding: 7.5px;
  margin: 0;
  color: white;
}
.block > div:nth-child(5):before {
  content: "5";
  width: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #466970;
  padding: 7.5px;
  margin: 0;
  color: white;
}
.block > div input + label {
  cursor: pointer;
  display: block;
  padding: 7.5px 15px;
  background-color: #a2c0c6;
  -webkit-transition: background-color 0.25s ease-in-out 0.5s, color 0.25s ease-in-out 0.5s;
  transition: background-color 0.25s ease-in-out 0.5s, color 0.25s ease-in-out 0.5s;
  color: black;
}
.block > div input ~ div {
  visibility: hidden;
  max-height: 0;
  padding: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out 0.2s, opacity 0.25s ease-in-out 0.25s, padding 0s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0.2s, opacity 0.25s ease-in-out 0.25s, padding 0s ease-in-out 0s;
}
.block > div input ~ div p {
  padding: 0 15px;
}
.block > div input:checked + label {
  background-color: #739fa8;
  -webkit-transition: background-color 0s ease-in-out 0s;
  transition: background-color 0s ease-in-out 0s;
  color: black;
}
.block > div input:checked ~ div {
  display: block;
  opacity: 1;
  visibility: visible;
  max-height: 200px;
  padding: 15px 0;
  -webkit-transition: all 0.5s ease-in-out 0.2s, opacity 0.25s ease-in-out 0.5s, padding 0s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0.2s, opacity 0.25s ease-in-out 0.5s, padding 0s ease-in-out 0s;
}

.details {
  width: calc(100% - 400px - 15px);
  float: right;
  margin: 15px 15px 0 0;
  padding: 15px;
  background-color: #3399ff;
}
@media screen and (max-width: 599px) {
  .details {
    float: left;
    width: calc(100% - 30px);
    margin: 15px;
  }
}
.details * {
  display: inline-block;
  margin: 7.5px 0;
  line-height: 20px;
  color: white;
}
.details h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
  clear: both;
}
.details a {
  clear: both;
  font-family: "FontAwesome", Sans-Serif;
  font-size: 14px;
  text-decoration: none;
}
.details a.follow {
  float: left;
  font-weight: bold;
  background-color: #333333;
  margin: 15px 0 0;
  padding: 7.5px 15px;
  cursor: pointer;
}
.details a.follow:before {
  margin: 0 7.5px 0 0;
}
.details a.follow strong {
  color: #99ccff;
}
.details a.follow:hover {
  background-color: #66b3ff;
}
.details a.follow:hover strong {
  color: #4d4d4d;
}